/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  background-color:  #494949;
 }
.navbar-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 .navbar a{
  text-decoration: none;
 }
.navbar{
  background-color: #D71616;
}
.navbar h1{
  color: white;
}
.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.form-container{
  background: #F8F9FA;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: center;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.new a:hover{
  color: white;
  background-color:#D71616;
}
